.App {
  text-align: center;
  background-color: white;
  height: 100%;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
}

.App-header {
  background-color: white;
  height: 120px;
  padding: 10px;
  color: black;
  font-size: 25px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  margin-bottom: 0px;
}

.App-title {
  font-family: 'Josefin Sans', sans-serif; 
  font-size: 1.7em;
}

.App-intro {
  font-size: large;
}

.App-descr {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Karla', sans-serif;
  font-size: 0.6em;
}

@media (max-width: 900px) {
  .App-header {
    height: 200px;
    font-size: 25px;
  }
}
