body {
  margin: 0;
  padding-left: 250px;
  padding-right: 250px;
  padding-top: 70px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Karla', sans-serif;
  height: 100vh;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  background: linear-gradient(117deg, #4fa891, #2c7c94, #6a5fc3);
  background-size: 600% 600%;
  
  -webkit-animation: AnimationName 7s ease infinite;
  animation: AnimationName 7s ease infinite;
  
}
@-webkit-keyframes AnimationName {
    0%{background-position:17% 0%}
    50%{background-position:84% 100%}
    100%{background-position:17% 0%}
}
@keyframes AnimationName { 
    0%{background-position:17% 0%}
    50%{background-position:84% 100%}
    100%{background-position:17% 0%}
}

.btn {
  margin: 10px;
}

.camera {
  background-color: clear;
  width: 100%;
  height: 320px;
  margin: auto;
  padding: 0px;
}

.hidden {
  display: none;
}

.confidencePercentage {
  color: red;
  font-weight: bold;
  font-size: 35px;
}

.cameraDiv {
  width: 100%;
  height: 320px;
  margin-bottom: 15px;
  padding: 0px;
  background-image: url("https://www.eldersinsurance.com.au/images/person1.png?width=368&height=278&crop=1");
  background-size: cover;
  background-position: center;
}

.cameraDiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 10px;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Karla', sans-serif;
  color: #ffffff;
  font-size: 12px;
  background: #7a7a7a;
  padding: 8px 17px 8px 17px;
  text-decoration: none;
  border: none;
}

.btn:hover {
  background: #575757;
  text-decoration: none;
}

.btnCalculate {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Karla', sans-serif;
  color: #ffffff;
  font-size: 12px;
  background: #70b0db;
  padding: 8px 17px 8px 17px;
  text-decoration: none;
  border: none;
}

.btnCalculate:hover {
  background: #2c8bc7;
  text-decoration: none;
}

#goBack {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Karla', sans-serif;
  color: #ffffff;
  font-size: 11px;
  background: #7a7a7a;
  padding: 8px 14px 8px 14px;
  text-decoration: none;
  border: none;
  margin: 0px;
}

#goBack:hover {
  background: #575757;
  text-decoration: none;
}


input[type=file] {
  margin: 0px;
  width: 200px;
  display: inline-block !important;
}

.remove-background {
  background-image: none;
}

@media (max-width: 768px) {
  body {
    padding-left: 50px;
    padding-right: 50px;
  }

  .webcamButton {
    display: none;
  }
}
